<div>
    <h2 id="page-heading">
        <span jhiTranslate="fortezzaInterviewApp.documentType.home.title">Document Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document-type" [routerLink]="['/document-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="fortezzaInterviewApp.documentType.home.createLabel">
            Create a new Document Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="documentTypes?.length === 0">
        <span jhiTranslate="fortezzaInterviewApp.documentType.home.notFound">No documentTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="documentTypes && documentTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="fortezzaInterviewApp.documentType.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="fortezzaInterviewApp.documentType.desciption">Desciption</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let documentType of documentTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/document-type', documentType.id, 'view']">{{ documentType.id }}</a></td>
                    <td>{{ documentType.name }}</td>
                    <td>{{ documentType.desciption }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/document-type', documentType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/document-type', documentType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(documentType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
