<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fortezzaEmployees">
            <h2><span jhiTranslate="fortezzaInterviewApp.fortezzaEmployees.detail.title">Fortezza Employees</span> {{ fortezzaEmployees.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fortezzaInterviewApp.fortezzaEmployees.name">Name</span></dt>
                <dd>
                    <span>{{ fortezzaEmployees.name }}</span>
                </dd>
                <dt><span jhiTranslate="fortezzaInterviewApp.fortezzaEmployees.age">Age</span></dt>
                <dd>
                    <span>{{ fortezzaEmployees.age }}</span>
                </dd>
                <dt><span jhiTranslate="fortezzaInterviewApp.fortezzaEmployees.city">City</span></dt>
                <dd>
                    <span>{{ fortezzaEmployees.city }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fortezza-employees', fortezzaEmployees.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
