<div>
    <h2 id="page-heading">
        <span jhiTranslate="fortezzaInterviewApp.fortezzaEmployees.home.title">Fortezza Employees</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fortezza-employees" [routerLink]="['/fortezza-employees/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="fortezzaInterviewApp.fortezzaEmployees.home.createLabel">
            Create a new Fortezza Employees
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fortezzaEmployees?.length === 0">
        <span jhiTranslate="fortezzaInterviewApp.fortezzaEmployees.home.notFound">No fortezzaEmployees found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fortezzaEmployees && fortezzaEmployees.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="fortezzaInterviewApp.fortezzaEmployees.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="fortezzaInterviewApp.fortezzaEmployees.age">Age</span></th>
                    <th scope="col" ><span jhiTranslate="fortezzaInterviewApp.fortezzaEmployees.city">City</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fortezzaEmployees of fortezzaEmployees ;trackBy: trackId">
                    <td><a [routerLink]="['/fortezza-employees', fortezzaEmployees.id, 'view']">{{ fortezzaEmployees.id }}</a></td>
                    <td>{{ fortezzaEmployees.name }}</td>
                    <td>{{ fortezzaEmployees.age }}</td>
                    <td>{{ fortezzaEmployees.city }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fortezza-employees', fortezzaEmployees.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fortezza-employees', fortezzaEmployees.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fortezzaEmployees)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
