<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="technician">
            <h2><span jhiTranslate="fortezzaInterviewApp.technician.detail.title">Technician</span> {{ technician.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fortezzaInterviewApp.technician.number">Number</span></dt>
                <dd>
                    <span>{{ technician.number }}</span>
                </dd>
                <dt><span jhiTranslate="fortezzaInterviewApp.technician.name">Name</span></dt>
                <dd>
                    <span>{{ technician.name }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/technician', technician.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
