<div>
    <h2 id="page-heading">
        <span jhiTranslate="fortezzaInterviewApp.airplane.home.title">Airplanes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-airplane" [routerLink]="['/airplane/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="fortezzaInterviewApp.airplane.home.createLabel">
            Create a new Airplane
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="airplanes?.length === 0">
        <span jhiTranslate="fortezzaInterviewApp.airplane.home.notFound">No airplanes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="airplanes && airplanes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="registration"><span jhiTranslate="fortezzaInterviewApp.airplane.registration">Registration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="clubOwned"><span jhiTranslate="fortezzaInterviewApp.airplane.clubOwned">Club Owned</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="country"><span jhiTranslate="fortezzaInterviewApp.airplane.country">Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let airplane of airplanes ;trackBy: trackId">
                    <td><a [routerLink]="['/airplane', airplane.id, 'view']">{{ airplane.id }}</a></td>
                    <td>{{ airplane.registration }}</td>
                    <td>{{ airplane.clubOwned }}</td>
                    <td jhiTranslate="{{ 'fortezzaInterviewApp.Country.' + airplane.country }}">{{ airplane.country }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/airplane', airplane.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/airplane', airplane.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(airplane)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
