<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="airplane">
            <h2><span jhiTranslate="fortezzaInterviewApp.airplane.detail.title">Airplane</span> {{ airplane.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fortezzaInterviewApp.airplane.registration">Registration</span></dt>
                <dd>
                    <span>{{ airplane.registration }}</span>
                </dd>
                <dt><span jhiTranslate="fortezzaInterviewApp.airplane.clubOwned">Club Owned</span></dt>
                <dd>
                    <span>{{ airplane.clubOwned }}</span>
                </dd>
                <dt><span jhiTranslate="fortezzaInterviewApp.airplane.country">Country</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'fortezzaInterviewApp.Country.' + airplane.country }}">{{ airplane.country }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/airplane', airplane.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
