<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-airplane-heading" jhiTranslate="fortezzaInterviewApp.airplane.home.createOrEditLabel">Create or edit a Airplane</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fortezzaInterviewApp.airplane.registration" for="field_registration">Registration</label>
                    <input type="text" class="form-control" name="registration" id="field_registration"
                           formControlName="registration"/>
                    <div *ngIf="editForm.get('registration')!.invalid && (editForm.get('registration')!.dirty || editForm.get('registration')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('registration')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fortezzaInterviewApp.airplane.clubOwned" for="field_clubOwned">Club Owned</label>
                    <input type="checkbox" class="form-control" name="clubOwned" id="field_clubOwned"
                           formControlName="clubOwned"/>
                    <div *ngIf="editForm.get('clubOwned')!.invalid && (editForm.get('clubOwned')!.dirty || editForm.get('clubOwned')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('clubOwned')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fortezzaInterviewApp.airplane.country" for="field_country">Country</label>
                    <select class="form-control" name="country" formControlName="country" id="field_country">
                        <option value="PH">{{ 'fortezzaInterviewApp.Country.PH' | translate }}</option>
                        <option value="OO">{{ 'fortezzaInterviewApp.Country.OO' | translate }}</option>
                        <option value="F">{{ 'fortezzaInterviewApp.Country.F' | translate }}</option>
                        <option value="D">{{ 'fortezzaInterviewApp.Country.D' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('country')!.invalid && (editForm.get('country')!.dirty || editForm.get('country')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('country')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
