<div>
    <h2 id="page-heading">
        <span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.home.title">Maintenance Documents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-maintenance-document" [routerLink]="['/maintenance-document/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="fortezzaInterviewApp.maintenanceDocument.home.createLabel">
            Create a new Maintenance Document
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="maintenanceDocuments?.length === 0">
        <span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.home.notFound">No maintenanceDocuments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="maintenanceDocuments && maintenanceDocuments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filename"><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.filename">Filename</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="version"><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.version">Version</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="airplane.id"><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.airplane">Airplane</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type.id"><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="technician.id"><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.technician">Technician</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let maintenanceDocument of maintenanceDocuments ;trackBy: trackId">
                    <td><a [routerLink]="['/maintenance-document', maintenanceDocument.id, 'view']">{{ maintenanceDocument.id }}</a></td>
                    <td>{{ maintenanceDocument.filename }}</td>
                    <td>{{ maintenanceDocument.version }}</td>
                    <td jhiTranslate="{{ 'fortezzaInterviewApp.DocumentStatus.' + maintenanceDocument.status }}">{{ maintenanceDocument.status }}</td>
                    <td>
                        <div *ngIf="maintenanceDocument.airplane">
                            <a [routerLink]="['/airplane', maintenanceDocument.airplane?.id, 'view']" >{{ maintenanceDocument.airplane?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="maintenanceDocument.type">
                            <a [routerLink]="['/document-type', maintenanceDocument.type?.id, 'view']" >{{ maintenanceDocument.type?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="maintenanceDocument.technician">
                            <a [routerLink]="['/technician', maintenanceDocument.technician?.id, 'view']" >{{ maintenanceDocument.technician?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/maintenance-document', maintenanceDocument.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/maintenance-document', maintenanceDocument.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(maintenanceDocument)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
