<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="maintenanceDocument">
            <h2><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.detail.title">Maintenance Document</span> {{ maintenanceDocument.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.filename">Filename</span></dt>
                <dd>
                    <span>{{ maintenanceDocument.filename }}</span>
                </dd>
                <dt><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.version">Version</span></dt>
                <dd>
                    <span>{{ maintenanceDocument.version }}</span>
                </dd>
                <dt><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'fortezzaInterviewApp.DocumentStatus.' + maintenanceDocument.status }}">{{ maintenanceDocument.status }}</span>
                </dd>
                <dt><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.airplane">Airplane</span></dt>
                <dd>
                    <div *ngIf="maintenanceDocument.airplane">
                        <a [routerLink]="['/airplane', maintenanceDocument.airplane?.id, 'view']">{{ maintenanceDocument.airplane?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.type">Type</span></dt>
                <dd>
                    <div *ngIf="maintenanceDocument.type">
                        <a [routerLink]="['/document-type', maintenanceDocument.type?.id, 'view']">{{ maintenanceDocument.type?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="fortezzaInterviewApp.maintenanceDocument.technician">Technician</span></dt>
                <dd>
                    <div *ngIf="maintenanceDocument.technician">
                        <a [routerLink]="['/technician', maintenanceDocument.technician?.id, 'view']">{{ maintenanceDocument.technician?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/maintenance-document', maintenanceDocument.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
