<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-maintenance-document-heading" jhiTranslate="fortezzaInterviewApp.maintenanceDocument.home.createOrEditLabel">Create or edit a Maintenance Document</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fortezzaInterviewApp.maintenanceDocument.filename" for="field_filename">Filename</label>
                    <input type="text" class="form-control" name="filename" id="field_filename"
                           formControlName="filename"/>
                    <div *ngIf="editForm.get('filename')!.invalid && (editForm.get('filename')!.dirty || editForm.get('filename')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('filename')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fortezzaInterviewApp.maintenanceDocument.version" for="field_version">Version</label>
                    <input type="text" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                    <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('version')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fortezzaInterviewApp.maintenanceDocument.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="CREATED">{{ 'fortezzaInterviewApp.DocumentStatus.CREATED' | translate }}</option>
                        <option value="ARCHIVED">{{ 'fortezzaInterviewApp.DocumentStatus.ARCHIVED' | translate }}</option>
                        <option value="DELETED">{{ 'fortezzaInterviewApp.DocumentStatus.DELETED' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fortezzaInterviewApp.maintenanceDocument.airplane" for="field_airplane">Airplane</label>
                    <select class="form-control" id="field_airplane" name="airplane" formControlName="airplane">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="airplaneOption.id === editForm.get('airplane')!.value?.id ? editForm.get('airplane')!.value : airplaneOption" *ngFor="let airplaneOption of airplanes; trackBy: trackById">{{ airplaneOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fortezzaInterviewApp.maintenanceDocument.type" for="field_type">Type</label>
                    <select class="form-control" id="field_type" name="type" formControlName="type">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentTypeOption.id === editForm.get('type')!.value?.id ? editForm.get('type')!.value : documentTypeOption" *ngFor="let documentTypeOption of documenttypes; trackBy: trackById">{{ documentTypeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="fortezzaInterviewApp.maintenanceDocument.technician" for="field_technician">Technician</label>
                    <select class="form-control" id="field_technician" name="technician" formControlName="technician">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="technicianOption.id === editForm.get('technician')!.value?.id ? editForm.get('technician')!.value : technicianOption" *ngFor="let technicianOption of technicians; trackBy: trackById">{{ technicianOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
